# Logs and databases
*.log
*.db

# Misc project files
.classpath
.project
.DS_Store
.settings/

# Maven files
classpath.out
psl-rss/target/

# IO files
messages/
results/

# Compiled python
*.pyc

# json test file
*testOut.json